
  .container{
    margin-left: 0px;
  }
  .AddPaientHeader{
    margin-left: -25px;
    margin-top: 23px;
    font-size: 35px;

  }
  .dropdown{
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
  }
  